table, th, td {
    border: 1px solid black;
}

table {
    padding-left: 5px;
}


.times-scroller {
    overflow: scroll;
    height: 200px;
    overflow-y: scroll;
    width: 175px;
}

::-webkit-scrollbar {
    display: none;
    }