table, th, td {
    border: 1px solid black;
}

table {
    padding-left: 4px;
    padding-right: 4px;
}


.times-scroller {
    overflow: scroll;
    height: 180px;
    overflow-y: scroll;
    width: 175px;
}

::-webkit-scrollbar {
    display: none;
}

td {
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
}